# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*.local

# macOS
.DS_Store

# iOS
ios/

# Android
android/

# TypeScript
*.tsbuildinfo

